{% extends 'base.html' %}
{% block head %}
<title>File Printer</title>

<script type="text/javascript">

    function redirect() {

        var url = "/list";

        window.location.replace(url)
    }
</script>

{% endblock %}

{% block body %}

<div>
    <p>name: {{name}}</p>
    <p>type: {{details["type"]}}</p>
    <p>resolution: {{details["resolution"]}}</p>
    <p>upload time: {{details["upload_time"]}}</p>

    
</div>
<hr>
{{e}}
<img src="{{url_for('static',filename='uploads/'+name)}}" alt="Image" style="width: 90%;height: 90%;margin-left: 5%;">


{% endblock %}
